import AppLayout from "../../layouts/app-layout.marko";

<AppLayout title=`Article ${input.id} Page`>
    $ const { article } = input;

    <h1>${article.title}</h1>
    <span>${article.date}</span>
    <p>${article.content}</p>
</AppLayout>
