// import MainLayout from "../../main-layout.marko";
import AppLayout from "../../layouts/app-layout.marko";

<AppLayout title="Home Page">
    <h1>Welcome to my blog</h1>
    <p>This is the home page.</p>
</AppLayout>
