import AppLayout from "../../layouts/app-layout.marko";

<AppLayout title="Home Page">
    <ul class="article-list">
        <for|article, index| of=input.articles>
            <guest-article article=article index=index/>
        </for>
    </ul>
</AppLayout>
