<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>${input.title || "My Personal Blog App"}</title>
    </head>
    <body class=input.class>
        <${input.renderBody}/>
    </body>
</html>
