<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>${input.title || "My Personal Blog App"}</title>
    </head>
    <body>
        <main class="page-content">
            <${input.renderBody}/>
        </main>
    </body>
</html>
