* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: cursive;
}

:root {
  --border-color: #c9c9c9;
  --border-radius: 8px;
  --btn-color: #3a3afa;
  --text-secondary: #ffffff;
  --text-primary: #000;
  --box-shadow: rgba(211, 211, 211, 0.915);
  --logo-red: #ff0000;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

svg {
  display: block;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth .container {
  width: 95%;
  padding: 1rem 2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
}

.auth .container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.auth-label {
  color: var(--btn-color);
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  outline: none;
  padding: 5px 10px;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
}

input {
  height: 50px;
}

form button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--btn-color);
  color: var(--text-secondary);
}

.auth-btn {
  display: inline-block;
}

header {
  height: 64px;
  box-shadow: 0 2px 8px var(--box-shadow);
  margin-bottom: 1rem;
}

header .header-content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  background: linear-gradient(to right, var(--btn-color), var(--logo-red));
  background-clip: text;
  color: transparent;
}

.auth-action-btn {
  padding: 4px 10px;
  border-radius: 5px;
  background-color: var(--btn-color);
  color: white;
}

.auth-action-btn.signup {
  background-color: var(--logo-red);
  color: var(--text-secondary);
}

.dashboard-header {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.dashboard-header h4 {
  flex: 1;
  font-size: 1rem;
  font-weight: 300;
}

.article-section {
  padding: 1rem;
}

.article-section .container h4 {
  margin-bottom: 1rem;
  font-weight: 400;
}

.article-section .container button {
  width: fit-content;
  padding: 0 1rem;
  font-family: inherit;
}

footer {
  margin-top: auto;
  padding: 1rem;
  background-color: var(--btn-color);
  color: var(--text-secondary);
}
