import AppLayout from "../../layouts/app-layout.marko";

<AppLayout title=`Edit article | Blog`>
    <div class="article-section">
        <div class="container">
            <back-link label="← Back"/>
            <h4>Edit Article</h4>
            $ const { id, title, date, content } = input.article;            
            <form method="post" action=`/admin/article/edit/${id}`>
                <input
                    type="text"
                    placeholder="Article Title"
                    name="title"
                    value=`${title}`
                    aria-label="article-title"
                    required>
                <input
                    type="date"
                    placeholder="Publish Date"
                    name="date"
                    value=`${date}`
                    aria-label="publish-date"
                    required>
                <textarea
                    name="content"
                    rows="8"
                    cols="40"
                    placeholder="Content"
                    aria-label="article-content"
                    required>${content}</textarea>
                <button>Update article</button>
            </form>
        </div>
    </div>
</AppLayout>
