<header>
    <div class="header-content">
        <a href="/" class="logo">
            Blog
        </a>
        <a href="/admin/auth/signin" class="auth-action-btn signin">
            Sign in
        </a>
    </div>
</header>
