<footer>
    <div>
        <a href="/" class="logo">
            Blog
        </a>
        <a href="/admin/signin" class="logo">
            Sign in
        </a>
    </div>

    <p>Personal Blog create by Hackhim @ 2025</p>
</footer>
