import AuthLayout from "../../../layouts/auth-layout.marko";

<AuthLayout title=`Sign Up | Blog`>
    <div class="auth signup">
        <div class="container">
            <h1>Sign Up page</h1>
            <a href="/admin/signin" class="logo">
            Sign in
        </a>
        </div>
    </div>
</AuthLayout>
