import AuthLayout from "../../../layouts/auth-layout.marko";

<AuthLayout title=`Sign In | Blog`>
    <div class="auth signin">
        <div class="container">
            <h1>Sign in page</h1>
            <a href="/admin/signup" class="logo">
                Sign in
            </a>
        </div>
    </div>
</AuthLayout>
